[project]
	description = Example used in EGit Training
[access "refs/*"]
	owner = group user/msohn (msohn)
[access "refs/for/refs/*"]
	read = group user/msohn (msohn)
	push = group user/msohn (msohn)
	label-Code-Review = -2..+2 group user/msohn (msohn)
	label-Verified = -1..+1 group user/msohn (msohn)
	rebase = group user/msohn (msohn)
	removeReviewer = group user/msohn (msohn)
	submit = group user/msohn (msohn)
[access "refs/heads/*"]
	read = group user/msohn (msohn)
	create = group user/msohn (msohn)
	push = +force group user/msohn (msohn)
	pushMerge = group user/msohn (msohn)
[access "refs/tags/*"]
	push = +force group user/msohn (msohn)
	pushTag = group user/msohn (msohn)
	pushSignedTag = group user/msohn (msohn)
